<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

</head>
<style>


p {
    font-family: Courier New;
    background-color: #555;
    color:white;
    padding:20px;
    border-radius:20px;
}
h3 {
	background-color: white;
	color: black;
	font-family: Georgia;
}
h1 {
	background-color: white;
	color: #4CAF50;
	font-family: Georgia;
	font-size:30px;
}
</style>

<body>

<nav  class="navbar navbar-default" style="background-color:#b22222">
  <div class= "container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> <span style="color:white">MOBIUS</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="./home"><span style="color:white">Home</a></li>
      <li><a href="./about"><span style="color:white"> About</span></a></li>
      <li class="./contact"><a href="#"><span style="color:#b22222">Contact</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="./logout"> <span style="color:white"><span class="glyphicon glyphicon-log-out"></span> Logout</span></a></li>
    </ul>
 </div>
</nav>


<div style="margin:0% 35% 0% 10%;">



<fieldset>
<h3>B.SaiRam</h3>
	<p>Email Id : b.s.ram@st.niituniversity.in<br>
	Mobile Number: 9030719650
	</p>

<h3> Sai Shashank</h3>
	<p>Email Id : sai.sasanka@st.niituniversity.in <br>
	Mobile Number: 9166496573
	</p>

<h3>Akash Katragadda</h3>
	<p>Email Id : katragadda.akash@st.niituniversity.in <br>
	Mobile Number: 8290764899
	</p>

<h3>Tharun J</h3>
<p>Email Id : tharun.j@st.niituniversity.in <br>
	Mobile Number: 8903452742
</p>

	<h3>Rajesh chakka</h3>
	<p>Email Id : chakka.rajesh@st.niituniversity.in <br>
	Mobile Number: 7296832669
	</p>



</fieldset>
</div>


</body>
</html>