<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login1.css') }}">
		<title>{{data}}</title>
</head>

<body background = "1.jpg" >

</div>
<br>
<br>
<div class="container">
<div class="row">
<div class="box12">
<div class="form-body">
	<ul class="nav nav-tabs final-login">
		<li class="active"><a data-toggle="tab" href="login">Log In</a></li>
		<li ><a data-toggle="tab" href="./">Sign Up</a></li>
	</ul>
	<div class="tab-content">
		<div id="sectionA" class="tab-pane fade in active">
		<div class="innter-form">
			<form class="sa-innate-form" method="post" action="/checkUser">
		   
			<input type="text" name="username" placeholder= "Email Address">
		   
			<input type="password" name="password" placeholder= "password">
			<button type="submit">Sign In</button>
			<a href="">Forgot Password?</a>
			</form>
			</div>
			
			
		
			
			
		</div>
	</div>
	</div>
	</div>
	</div>
	
	</div>

	<div class="container">
<div class="row">
<div class="box12">
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="box12">
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="box12">
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="box12">
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="box12">
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="box12">
</div>
</div>
</div>
</div>


	</div>
	</body>
	</html>
